@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Suisse Intl"; 
  src: url("./fonts/Suisse Intl/SuisseIntl-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
  font-family: "Suisse Intl";
  font-size: 16px;
}
